<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>308400158832-q4en0ce0umpv7o0e08479ktiejct57cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308400158832-q4en0ce0umpv7o0e08479ktiejct57cv</string>
	<key>API_KEY</key>
	<string>AIzaSyAAkpLu63g6pKe-bm8FQ5nQZwtG82spItw</string>
	<key>GCM_SENDER_ID</key>
	<string>308400158832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.pieces-inc.firestoresample</string>
	<key>PROJECT_ID</key>
	<string>firestoresample-daca6</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoresample-daca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308400158832:ios:88949669cc00b6b6</string>
	<key>DATABASE_URL</key>
	<string>https://firestoresample-daca6.firebaseio.com</string>
</dict>
</plist>